@using Project.ENTITIES.Concrete
@model Personel

@{
    ViewBag.Title = "Create Personel";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}


<script type="text/javascript">

    function passF() {
        var d = document.querySelector('#personneldate').value;
        var name = document.querySelector('#name').value;
        var surname = document.querySelector('#surname').value;
        if (d != "" && name != "" && surname != "") {
            var btn = document.getElementById('btnCreate');
            var pas = document.querySelector('#pass');
            pas.value = name + surname + d;
            alert(`Password is :${pas.value}`);
        } else {
            alert("Fill the form!");
        }
    }

</script>
<h1>Create Personnel</h1>
<br />
@{var p = new Personel() { PersonelPassword = "" };}
@using (Html.BeginForm("CreatePersonel","Admin",FormMethod.Post))
{
    <div class="form-group">
        <div style="width:400px">

            @Html.Label("Personnel Name")

            @Html.TextBoxFor(x => x.PersonelName, new { @class = "form-control", @id = "name" })
            @Html.Label("Personnel Surname")
            @Html.TextBoxFor(x => x.PersonelSurname, new { @class = "form-control", @id = "surname" })

            @Html.LabelFor(x => x.BornDate, new { @class = "control-label" })

            <input type="date" id="personneldate" name="bornDate" class="form-control" value="@{}" />

            @Html.Label("Personnel Password")
            @Html.TextBoxFor(x => x.PersonelPassword, new { @class = "form-control", @id = "pass", @readonly = "true" })
            @{Html.Label(Html.ValidationMessageFor(x => x.PersonelPassword).ToString());}
            <div class="bg-important bold" style="margin:5px; color:orangered;" aria-hidden="true">
                @Html.ValidationMessageFor(x => x.PersonelPassword)
            </div>
            @Html.Label("Company")
            @Html.DropDownListFor(x => x.Company.CompanyID, new SelectList(ViewBag.CompanyList != null ? ViewBag.CompanyList : string.Empty, "CompanyID", "CompanyName"), new { @class = "form-control" })
           <button id="btnCreate" style="margin-top:15px; " onclick="passF()" class="btn btn-primary">Create Personnel</button>
            <a id="autoCreate" style="margin-top:15px"  href="/Manager/Manager/AutoCreate" onclick="alert('New Personnel was created.'); 
               document.getElementById('autoCreate').href += '/'+document.getElementById('CompanyID').value;" class="btn btn-success">Auto Create Personnel</a>
             <br />
            <br />
            @Html.Label("All Personnels")
            @Html.DropDownListFor(x => new Personel() { }.PersonelID, new SelectList(ViewBag.perList != null ? ViewBag.perList : String.Empty, "PersonelID", "CurrentComp"), new { @class = "form-control" })
        </div>
    </div>
}
