@using Project.ENTITIES.Concrete
@model Company

@{
    ViewBag.Title = "UPDATE Company";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Update Company</h1>
<br />
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        <div style="width:400px">

            @Html.Label("Company Name")
            <input type="number" value=@ViewBag.company.CompanyID name="CompanyID" hidden="hidden" />
            @Html.TextBox("CompanyName", (object)ViewBag.company.CompanyName, new { @class = "form-control" , @readonly="readonly"})
            @{Html.Label(Html.ValidationMessageFor(x => x.CompanyName).ToString());}
            <div class="bg-important" style="margin:5px; color:orangered;" aria-hidden="true">
                @Html.ValidationMessageFor(x => x.CompanyName)
            </div>
            @if (ViewBag.perList != null && ViewBag.perList.Count > 0)
            {

                @Html.Label("Company Personnel Authorization ")
                @Html.DropDownListFor(x => new Personel() { }.PersonelID, new SelectList(ViewBag.perList, "PersonelID", "CurrentComp"), new { @class = "form-control" })
            }
            else
            {
                @Html.Label("", "There is no unassigned personnel.Please Create Personnel", new { @class = "bg-danger" })
                <a  style="margin-top:15px"  href="/Manager/Manager/CreatePersonel/" class="btn btn-info">Create Personnel</a>
            }
            <button style="margin-top:15px" class="btn btn-warning hover">Update Company</button>
        </div>
    </div>
}
