@using Project.ENTITIES.Concrete
@model Company

@{
    ViewBag.Title = "Add Company";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>Create Company</h1>
<br />
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        <div style="width:400px">

            @Html.Label("Company Name")
            @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
            @{Html.Label(Html.ValidationMessageFor(x => x.CompanyName).ToString());}
                 <div class="bg-important" style="margin:5px; color:orangered;" aria-hidden="true">
                 @Html.ValidationMessageFor(x => x.CompanyName)
                 </div>
                 @Html.Label("Company Personnel Authorization ")
           @Html.DropDownListFor(x=>new Personel() { }.PersonelID,new SelectList(ViewBag.perList!=null?ViewBag.perList:String.Empty,"PersonelID", "CurrentComp" ), new { @class = "form-control" })
            <button style="margin-top:15px" class="btn btn-primary hover">Create Company</button>
        </div>
    </div>
}
